{% extends "../base.twig" %}

{% block header %}
    {% include "@blocks/header.twig" %}
{% endblock %}

{% block content %}
    <p>Main page content</p>
{% endblock %}

{% block footer %}
    <p>{{ parent() }} {{ year }}</p>
{% endblock %}

